        <h1><a href="<%= proto %>://<%= hostname %>/"><%= title %></a></h1>
        <p><%= payment.isAuth ?  'Autentimise ' : 'Makse teostamise ' %>näidisrakendus <strong>"<%= project.name %>"</strong></p>

        <form method="post" action="<%= proto %>://<%= hostname %>/banklink/<%- bank.key %>">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
            <!-- include all values as hidden form fields -->
<?php foreach($fields as $key => $val):?>
            <input type="hidden" name="<?php echo $key; ?>" value="<?php echo htmlspecialchars($val); ?>" />
<?php endforeach; ?>

            <!-- draw table output for demo -->
            <table>
<?php foreach($fields as $key => $val):?>
                <tr>
                    <td><strong><code><?php echo $key; ?></code></strong></td>
                    <td><code><?php echo htmlspecialchars($val); ?></code></td>
                </tr>
<?php endforeach; ?>

                <!-- when the user clicks "<%= payment.isAuth ? 'Edasi panga lehele' : 'Edasi panga lehele' %>" form data is sent to the bank -->
                <tr><td colspan="2"><input type="submit" value="<%= payment.isAuth ? 'Edasi panga lehele' : 'Edasi panga lehele' %>" /></td></tr>
            </table>
        </form>
