<div class="page-header">
    <div class="pull-right">
        <a class="btn btn-info" href="/account/users/add"><span class="glyphicon glyphicon-plus-sign"></span> Lisa uus kasutaja</a>
    </div>
    <h1>Kasutajad</h1>
</div>

<table class="table table-hover">
    <thead>
        <tr>
            <th>
                #
            </th>
            <th>
                Nimi
            </th>
            <th>
                E-posti aadress
            </th>
            <th>
                Roll
            </th>
            <th>
                &nbsp;
            </th>
        </tr>
    </thead>
    <tbody>
        <% if(!list || !list.length){%>
            <tr>
                <td colspan="5">
                    Ühtegi kasutajat pole veel lisatud</a>.
                </td>
            </tr>
        <% } %>
        <% if(list && list.length){%>
            <% list.forEach(function(user, i){%>
                <tr>
                    <td>
                        <%= i + 1 %>
                    </td>
                    <td>
                        <%= user.name %>
                    </td>
                    <td>
                        <%= user.username %>
                    </td>
                    <td>
                        <%= user.roleStr %>
                    </td>
                    <td>
                        <a href="/account/profile/<%= user._id %>">Muuda</a>
                    </td>
                </tr>

            <% }) %>
        <% } %>
    </tbody>
</table>
