<!DOCTYPE html>
<!-- This webpage uses bootstrap template -->
<html>
    <head>
        <meta charset="<%= (typeof payment == "object" ? payment.charset : "") || "utf-8" %>">
        <title><%= title %> &raquo; testmakse</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="author" content="Andris Reinman">

        <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
        <link rel="icon" href="/favicon.ico" type="image/x-icon">

        <!-- Le styles -->
        <!--
        <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
        <link href="/style/custom.css" rel="stylesheet">
        <style>
            body {
                padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
            }
        </style>
        <link href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
        -->

        <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
        <!--[if lt IE 9]>
            <script src="/bootstrap/js/html5shiv.js"></script>
        <![endif]-->
        <!--
        <link href="/style/todc-bootstrap.css" rel="stylesheet">
      -->
        <!--<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->
        <!--<link href="/style/generated/theme.css" rel="stylesheet">-->
        <link href="/bootstrap/css/readable.css" rel="stylesheet">

        <style type="text/css">
            /* Sticky footer styles
            -------------------------------------------------- */

/* Sticky footer styles
      -------------------------------------------------- */

      html,
      body {
        height: 100%;
        /* The html and body elements cannot have any padding or margin. */
        padding-top: 0;
      }

      /* Wrapper for page content to push down footer */
      #wrap {
        min-height: 100%;
        height: auto !important;
        height: 100%;
        /* Negative indent footer by it's height */
        margin: 0 auto -60px;
      }

      /* Set the fixed height of the footer here */
      #push,
      #footer {
        height: 60px;
        color: #fff;
      }
      #footer a{
        color: #fff;
      }

      /* Lastly, apply responsive CSS fixes as necessary */
      @media (max-width: 767px) {
        #footer {
          margin-left: -20px;
          margin-right: -20px;
          padding-left: 20px;
          padding-right: 20px;
        }
      }

      /* Custom page CSS
      -------------------------------------------------- */
      /* Not required for template or sticky footer method. */

      #wrap > .container {
        padding-top: 60px;
      }
      .container .credit {
        margin: 20px 0;
      }

      code {
        font-size: 80%;
      }
        </style>

    </head>

    <body>
    <!-- Part 1: Wrap all page content here -->
    <div id="wrap">
        <div class="container">

        <% if (logoUrl){ %>
            <div>
                <a href="/"><img src="<%= logoUrl%>" title="<%= title %>"></a>
            </div>
        <% } %>
        <% if (!logoUrl){ %>
            <h1><a href="/"><span class="glyphicon glyphicon-link"></span> <%= title %></a> <small>pangalinkide testimiskeskkond</small></h1>
        <%}%>
