
<% if(bank.deprecated){ %>
<div class="alert alert-danger">
    <h4>Aegunud protokoll!</h4>
    <p>Alates 2014 a. oktoobrist lähevad pangaliidu liikmed üle uuendatud pangalingi protokollile. Detailid leiab <a href="http://pangaliit.ee/et/arveldused/pangalingi-spetsifikatsioon" title="Pangalingi spetsifikatsioon" class="alert-link">pangaliidu kodulehelt</a>. <%= title %> võimaldab paralleelselt kasutada mõlemat protokolli, kuid eri makselahendustena (uue protokolli kasutamiseks tuleb luua uus makselahendus).</p>
</div>
<%}%>

<table class="table">

    <tr>
        <td>
            Pank
        </td>
        <td>
            <strong><%= bank.name %></strong>
        </td>
    </tr>

    <tr>
        <td>
            Valitud keel
        </td>
        <td>
            <div class="flag flag-<%= countries[payment.language] || "gb" %>"></div> <%= languages[payment.language] || languages.en %>
        </td>
    </tr>

    <tr>
        <td>Teksti kodeering</td>
        <td>
            <%= payment.charset %>
        </td>
    </tr>

    <% if(uid && (uid == project.owner || project.authorized.indexOf(uid.toLowerCase().trim()) >=0)){ %>
        <tr>
            <td colspan="2"><i class="icon icon-share"></i> <a href="/payment/<%= payment._id %>" target="_blank">Maksekorralduse detailsed andmed</a> (avaneb uues aknas)</td>
        </tr>
    <% } %>
    <% if(!uid || !(uid == project.owner || project.authorized.indexOf(uid.toLowerCase().trim()) >=0)){ %>
        <tr>
            <td colspan="2">Maksekorralduse detailivaadet kuvatakse sisseloginud kasutajale, kellel on õigus vastava makselahenduse andmetega toimetada</td>
        </tr>
    <% } %>

</table>